@media screen and (max-width: 1650px) {
    .page-top-banner{
        min-height: 700px;
    }
}
@media screen and (max-width: 991px) {
    .header-right-part .searchInput{
        position: absolute;
        bottom: -50px;
        right: 0;
        background: #2c3448;
    }
    .restaurant-chef-info{
        flex-wrap: wrap;
    }
    .header-menu li.header-logo{
        padding-right: 30px;
    }
}
@media screen and (max-width: 850px) {
    .header-search-column{
        order: 3;
        width: 100%;
        flex-basis: 100%;
        margin-top: 10px;
    }
    .header-search input{
        width: 100%;
    }
}
@media screen and (max-width: 768px) {

    .home-center-text-box{
        max-width: 515px;
        margin: 0 auto;
    }
    .home-center-text-box .col-md-8,.home-center-text-box .col-md-4{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .menu-toolbar li a{
        font-size: 12px;
        padding: 15px;
        white-space: nowrap;

    }
    .menu-toolbar ul{
        overflow-x: scroll;
    }
    .bg-img-block {
        padding-top: 90%;
        background-size: contain;
    }
    footer ul {
        margin-top: 15px;
    }
    .footer-menu .row div:first-child li {
        margin-right: 7px;
        margin-left: 7px;
    }

    .footer-menu .row div:last-child li {
        margin-left: 15px;
        margin-right: 15px;
    }

    footer .footer-copyright p {
        text-align: center;
    }
    .banner-info-box p {
        font-size: 14px;
    }
    .page-top-banner .banner-info-box{
        padding: 20px 15px;
    }
    .social-icons a{
        margin: 0 7px;
    }
    .menu-center-section .menu-left-box{
        padding-right: 20px;
    }
    #scroller{
        right: 20px;
        bottom: 13px;
    }
    .page-top-banner.menu-top-banner{
        max-height: inherit;
    }
}
@media screen and (max-width: 667px){
    .menu-center-section .menu-left-box {
        padding-right: 0;
    }
    .order-box-head {
        margin-top: 10px;
        padding-bottom: 20px;
    }
    .order-hide-desk{
        display: block;
    }
    .view-details-btn span{
        display: none!important;
    }
    .view-details-btn{
        padding: 8px 11px;
    }
    .view-details-btn:not(.close-details) i{
        line-height: 19px;
        vertical-align: bottom;
    }
    .menu-details-text{
        margin-left: -89px;
    }
    .menu-banner-column{
        flex-direction: column;
    }
    .header-menu li a{
        font-size: 11px;
    }
    .header-right-part .menu-toggle{
        display: block;
    }
    .desktop-menu{
        display: none;
    }
    .header-right-part{
        padding-right: 45px;
    }
    .banner-info-box h2{
        font-size: 24px;
    }
    .delivering-result h2{
        font-size: 20px;
    }
    .top-chef-dishes .col-md-4:nth-child(2),.top-chef-dishes .col-md-4:last-child{
    display: none;
    }
    .page-top-banner {
        min-height: 600px;
    }
    .menu-center-info{
        flex-wrap: wrap;
    }
    .menu-center-info .menu-left-box{
        order: 2;
    }
   .cart-total-box .order-box{
        position: fixed;
        top: 73px;
        left: 0;
        right: 0;
        bottom: 0;
        width: inherit;
        z-index: 20;
        display: none;
        max-height: 100%;
        overflow-y: auto;
        border-radius: 20px 20px 0 0;
    }
    .cart-total-box .order-box .place-order{
        order: 2;
        margin-bottom: 10px;
    }
    .cart-total-box .order-box .add-message-btn{
        order: 3;
    }
   .close-order-box{
       display: inline-block;
   }
   .order-box-head{
       border-bottom: 1px solid rgba(247,249,250,.2);
   }
    header .site-logo{
        width: 60px;
    }
    header.page-header{
        padding: 10px 0;
    }
    .nav__toggle{
        top:0;
    }
    .fixed-toolbar{
        top: 67px;
    }
    .menu-details-chef-info p{
        font-size: 11px;
    }
    .menu-details-chef-info h3{
        font-size: 24px;
    }
    .collapse-body .product-name,#add-dish-modal .product-name{
        font-size: 13px;
    }
    .collapse-body .price-add-btn,#add-dish-modal .product-price{
        font-size: 13px;
        min-width: 77px;
        height: 24px;
        letter-spacing:2.3px;
    }
    #add-dish-modal .product-price{
        line-height: 18px;
    }
    .price-add-btn.btn-hover:after{
        line-height: 24px;
    }
    .collapse-head h2,.modal-recommendation-block .block-tile{
        font-size: 16px;
    }
    .menu-row {
        padding: 5px 0;
    }
}
@media screen and (max-width: 570px) {

    .home-center-text-box .title-text{
        font-size: 32px;
    }
    .home-center-text-box .quot-text{
        font-size: 22px;
    }
    .find-address-box-btn .find-btn{
        position: relative;
        left: 0;
        width: 100%;
        bottom: 0;
        right: 0;
        margin-top: 5px;
    }
    .hidden-selects, .find-address-box{
       padding: 0;
    }
    .find-address-box,.hidden-selects{
        flex-direction: column;
    }
    .fields-box input, .fields-box select{
        margin: 5px 0;
    }
    .find-address-box .find-btn{
        width: 100%;
        margin-top: 5px;
    }
    .banner-info-box .fields-box {
        padding-right: 0;
    }

    .footer-logo {
        text-align: center;
    }
    .justify-content-smx-center {
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }
    .footer-main-menu{
        display: none;
    }
    .modal-footer .add-order-btn,.modal-footer .cancel-order-btn{
        width: 100%;
    }
}

@media screen and (max-height: 700px) {
    .order-box{
        position: static;
    }
}