@media screen and (max-width: 1650px) {
    .home-top-banner{
        min-height: 700px;
    }
}
@media screen and (max-width: 991px) {
    .header-right-part .searchInput{
        position: absolute;
        bottom: -50px;
        right: 0;
        background: #2c3448;
    }
}
@media screen and (max-width: 850px) {
    .header-search-column{
        order: 3;
        width: 100%;
        flex-basis: 100%;
        margin-top: 10px;
    }
    .header-search input{
        width: 100%;
    }
}
@media screen and (max-width: 767px) {
    .home-center-text-box{
        max-width: 515px;
        margin: 0 auto;
    }
    .bg-img-block {
        padding-top: 50%;
        background-size: contain;
    }
    .justify-content-smx-center {
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }
    .footer-logo {
        text-align: center;
    }
    footer ul {
        margin-top: 15px;
    }
    .footer-menu .row div:first-child li {
        margin-right: 7px;
        margin-left: 7px;
    }

    .footer-menu .row div:last-child li {
        margin-left: 15px;
        margin-right: 15px;
    }

    footer .footer-copyright p {
        text-align: center;
    }
    .banner-info-box p {
        font-size: 14px;
    }
    .home-top-banner .banner-info-box{
        padding: 20px 15px;
    }
    .social-icons a{
        margin: 0 7px;
    }
}
@media screen and (max-width: 667px){
    .header-menu li a{
        font-size: 11px;
    }
    .header-right-part .menu-toggle{
        display: block;
    }
    .desktop-menu{
        display: none;
    }
    .header-right-part{
        padding-right: 45px;
    }
    .banner-info-box h2{
        font-size: 24px;
    }
}
@media screen and (max-width: 567px) {
    .nav__toggle{
        top:0;
    }
    .find-address-box-btn .find-btn{
        position: relative;
        left: 0;
        width: 100%;
        bottom: 0;
        right: 0;
    }
    .hidden-selects, .find-address-box{
        padding-right: 0;
        padding-left: 0;
    }
    .find-address-box,.hidden-selects{
        flex-direction: column;
    }
    .fields-box input, .fields-box select{
        margin: 5px 0;
    }
    .find-address-box .find-btn{
        width: 100%;
        margin-top: 5px;
    }
    .banner-info-box .fields-box {
        padding-right: 0;
    }
    .home-top-banner .banner-info-box{
        margin-top: 100px;
    }
    header .site-logo{
        width: 60px;
    }
    .header-nav .login-reg-link a {
        margin: 0 5px;
        letter-spacing: 1px;
    }
    header.page-header{
        padding: 10px 0;
    }
}

