body{
    color: #2c3448;
    font-size: 15px;
}
.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
}
a:hover{
    text-decoration: none;
}
a:focus,button:focus{
    outline: none!important;
}
input:focus,button:focus,select:focus{
    outline: none;
}
button,button:hover,a, a:hover{
    -webkit-transition:  0.6s ease;
    -moz-transition:  0.6s ease;
    -ms-transition:  0.6s ease;
    -o-transition:  0.6s ease;
    transition:  0.6s ease;
}
header .dropdown-toggle::after{
    border: 0!important;
    margin: 0;
}
header .dropdown-toggle{
    padding: 6px 0;
}
header .dropdown-toggle:focus{
    box-shadow: none;
}


#scroller{
    position: fixed;
    right: 70px;
    bottom: 70px;
    display: inline-block;
    padding: 10px 15px;
    background: #2c3448;
    cursor: pointer;
    color: #f8f9f9;
    border:1px solid #f8f9f9;
    border-radius: 3px;
    z-index: 10;
}
.page-top-banner{
    background-color: #2c3448;
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 800px;
    position: relative;
}
.page-top-banner.restaurants-top-banner{
    min-height: 450px;
    background-image: url("../images/restaurants-bg.jpg");
}
.page-top-banner.restaurants-top-banner:after,.page-top-banner.menu-top-banner:after{
    content: " ";
    height: 277px;
    opacity: 0.5;
    background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
}
.page-top-banner.menu-top-banner{
    max-height: 650px;
    min-height: 650px;
    position: relative;
    background-image: url("../images/restaurants-bg.jpg");
}
.restaurants-top-banner .banner-info-box p{
    margin: 0 0 15px 0;
}
.page-top-banner.restaurants-top-banner .banner-info-box{
    margin-top: 15%;
}
.scroll-down{
    width: 48px;
    height: 48px;
    background-color: #d6dce3;
    text-align: center;
    padding: 13px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -24px;
    display: inline-block;
    cursor: pointer;
    color: #2c3448;
}
.margin0{
    margin-bottom: 0;
}
.scroll-down:focus,.scroll-down:hover{
    color: #2c3448;
}
.scroll-down:after{
    content: "\f103";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}
.menu-toggle img{
    margin-top: -6px;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
.page-top-banner .banner-info-box{
    background-color: rgba(44,52,72,0.8);
    box-shadow: 0 8px 32px 3px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 20px 65px;
    max-width: 640px;
    position: relative;
    z-index: 5;
}
.banner-info-box h2{
    color: #dc7867;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 1.8px;
    font-family: 'Butler_Regular_Stencil';
    margin-bottom: 0;
}
.banner-info-box p{
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.31;
    letter-spacing: 3.09px;
    font-family: 'NexaLight';
    text-transform: uppercase;
    margin: 25px 0;
}
.banner-info-box .fields-box{
    padding-right: 10px;
}
.fields-box input,.fields-box select{
    width: 100%;
    height: 41px;
    padding-left: 45px;
    font-family: 'NexaBold';
    letter-spacing: 0.7px;
    font-size: 14px;
    background-color: #fff;
    border-radius: 0;
}
.fields-box input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(0,0,0,0.38);
}
.fields-box input::-moz-placeholder { /* Firefox 19+ */
    color: rgba(0,0,0,0.38);
}
.fields-box input:-ms-input-placeholder { /* IE 10+ */
    color: rgba(0,0,0,0.38);
}
.fields-box input:-moz-placeholder { /* Firefox 18- */
    color: rgba(0,0,0,0.38);
}
.fields-box select{
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    cursor: pointer;
}
.find-address-box .find-location{
    position: relative;
}
.find-address-box .find-location:before{
    content: "\f3c5";
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    left: 16px;
    color: #2F4362;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 20px;
}
.find-address-box .choose-date:before{
    content: "\f017";
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    left: 16px;
    color: #2F4362;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 20px;
}
.find-address-box .choose-date:after, .additional-date:after{
    content: "\f0d7";
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    right: 26px;
    color: #2F4362;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}
 .additional-date{
    position: relative;
}
 .additional-date select{
    padding-left: 15px;
}
.find-address-box-btn .find-btn{
    background-color: #d6dce3;
    font-size: 14px;
    letter-spacing: 2.52px;
    text-align: center;
    color: rgba(0, 0, 0, 0.54);
    font-family: 'NexaLight';
    border: none;
    padding: 10px 17px;
    position: absolute;
    top: 0;
    right: 15px;
}
.find-address-box-btn .find-btn:hover,.header-search button:hover{
    background-color: #dc7867;
    color: #fff;
}
header.page-header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 13px 0;
    z-index: 23;
}
.header-nav li,.header-nav li a{
    font-family: 'NexaLight';
    color: #d6dce3;
}
.header-nav li a{
    letter-spacing: 2.16px;
    font-size: 12px;
    text-transform: uppercase;
}
.fixed {
    animation: smoothScroll 1s forwards;
    -webkit-animation: smoothScroll 1s forwards;
    background: #2c3448;
    z-index: 23;
    border-bottom: 1px solid #191d28;
}
.header-search{
    position: relative;
}
.header-search input{
    width: 308px;
    background-color: transparent;
    border: 1px solid #d6dce3;
    height: 40px;
    padding: 5px 45px 5px 15px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #d6dce3;
}
.searchBox input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(255,255,255,0.7);
    font-size: 14px;
}
.searchBox input::-moz-placeholder { /* Firefox 19+ */
    color: rgba(255,255,255,0.7);
    font-size: 14px;
}
.searchBox input:-ms-input-placeholder { /* IE 10+ */
    color: rgba(255,255,255,0.7);
    font-size: 14px;
}
.searchBox input:-moz-placeholder { /* Firefox 18- */
    color: rgba(255,255,255,0.7);
    font-size: 14px;
}
.header-search input:focus{
    outline: none;
}
.header-search button{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #d6dce3;
    width: 48px;
    text-align: center;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    border: none;
}
@keyframes smoothScroll {
    0% {
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
        transform: translateY(-20px); }
    100% {
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px); }
}
@-webkit-keyframes smoothScroll{
    0% {
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
        transform: translateY(-20px); }
    100% {
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px); }
}
footer{
    background-color: #d6dce3;
    padding-top: 50px;
}
footer .footer-copyright{
   border-top: 1px solid rgba(44,52,72,0.1);
    padding: 15px 0;
    margin-top: 45px;
}
footer .footer-copyright p{
    margin-bottom: 0;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 1.3;
    letter-spacing: 1.8px;
    font-family: 'NexaLight';
}
.social-icons a{
    color: #2C3448;
    font-size: 23px;
    margin-left: 15px;
}
.footer-menu li a{
    font-size: 11px;
    font-family: 'NexaLight';
    text-transform: uppercase;
    letter-spacing: 1.98px;
    color: #2c3448;
    border-bottom: 2px solid transparent;
}
.footer-menu{
    margin-top: 20px;
}
.footer-menu li a:hover{
    border-bottom-color: #2c3448;
}
.footer-menu li a.active{
    border-bottom-color: #2c3448;
}
.footer-menu .row div:first-child li{
    margin-right: 15px;
}
.footer-menu .row div:last-child li{
    margin-left: 30px;
    position: relative;
}
.footer-menu .row div:last-child li:after{
    content: " ";
    height: 8px;
    width: 1px;
    background-color: #2c3448;
    position: absolute;
    right: -15px;
    top: 50%;
    margin-top: 2px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.footer-menu .row div:last-child li:last-child:after{
    width: 0;
}
.page-center-block {
    padding: 25px 0;
    background-color: #2c3448;
}
.img-inner-block {
    width: 50%;
    padding-top: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.mb48 {
    margin-bottom: 48px;
}
.title-text {
    font-family: 'Butler_Regular_Stencil';
    font-size: 36px;
    color: #dc7867;
}
.mb24 {
    margin-bottom: 24px;
}
.mb12 {
    margin-bottom: 12px;
}
.mb15  {
    margin-bottom: 15px;
}
.text-desc {
    font-size: 16px;
    letter-spacing: 0.45px;
    line-height: 28px;
    color: #ffffff;
    text-align: justify;
    font-family: geneo-std, sans-serif;
    font-weight: 400;
    font-style: normal;
}
.text-desc b{
    font-size: 18px;
}
.quot-text {
    padding-top: 35px;
    line-height: 37px;
    font-size: 24px;
    letter-spacing: 0.6px;
    color: white;
    margin-bottom: 4px;
    font-style: italic;
    font-family: geneo-std, sans-serif;
    font-weight: 400;
}
.author-text {
    font-size: 14px;
    line-height: 37px;
    letter-spacing: 0.35px;
    color: white;
    text-transform: uppercase;
}
.bg-img-block {
    padding-top: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.dish-name {
    font-size: 14px;
    color: rgba(214,220,227,0.6);
    line-height: 16px;
    letter-spacing: 2.7px;
    font-family: 'NexaBold';
    margin-bottom: 1px;
}
.dish-desc {
    font-size: 11px;
    color: rgba(214,220,227,0.6);
    line-height: 16px;
    letter-spacing: 2.12px;
    font-family: 'NexaLight';
}
.mb16 {
    margin-bottom: 16px;
}
.hidden-selects,.find-address-box{
    padding: 0 91px 10px 15px;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
.find-container{
    position: relative;
}
@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.header-menu li a{
    font-size: 14px;
    letter-spacing: 2.5px;
    color: #d6dce3;
    font-family: 'NexaBold';
    position: relative;
    display: inline-block;

}
.header-menu li:not(.active) a:after{
    position: absolute;
    top: 100%;
    left: 0;
    right: 2px;
    height: 1px;
    background: #d6dce3;
    content: '';
    opacity: 0;
    -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}
.header-menu li:not(.active) a:hover:after{
    height: 2px;
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}
.header-menu li.header-logo a:hover:after,.header-menu li.header-logo a:after{
    opacity: 0!important;
    height: 0;
}
.header-menu li  {
    padding-right: 20px;
}
.header-menu li.header-logo{
    padding-right: 64px;

}
.header-menu li.header-logo span {
    position: relative;
    display: inline-block;
}
.header-menu li.header-logo span:after{
    content: " ";
    background-image: url(../images/text.svg);
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    width: 93px;
    height: 10px;
    left: -3px;
    background-size: contain;
}
.header-menu li.header-logo img{
    padding-bottom: 10px;
    margin-top: -10px;
}
.header-menu li.active a:after{
    content: " ";
    height: 2px;
    left: 0;
    right: 2px;
    bottom: -2px;
    background-color: #d6dce3;
    position: absolute;
}
header .wrapper{
    position: relative;
}
.header-nav li {
    padding-left: 15px;
}
.header-nav li.menu-toggle{
    padding-left: 0;
}
.header-right-part .searchBox.searchBoxOpen .searchInput {
    width: 240px;
    padding: 0 6px;
    border-bottom: 1px solid #d6dce3;
}
.header-right-part .searchButton {
    width: 30px;
    height: 40px;
    transition: 0.5s;
    border: none;
    background-color: transparent;
    padding: 0;
}
.header-right-part .searchButton img{
    padding: 10px 5px;
    width: 30px;
}
.header-right-part .searchButton .close-item{
    display: none;
}
.header-right-part .searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.5s;
    line-height: 38px;
    width: 0;
    border-bottom: 1px solid #d6dce3;
}
.header-right-part .menu-toggle{
   display: none;
}
.home-bottom-dishes{
    margin: 0 -15px;
}
.home-bottom-dishes .home-dishes-item{
    padding: 0 15px;
}
.home-bottom-dishes  .slick-dots li button{
    width: 10px;
    height: 10px;
    border-radius:50%;
    color: #d6dce3;
    background: rgba(214,220,227,.25);
}
.home-bottom-dishes  .slick-dots li.slick-active button{
    background: rgba(214,220,227,1);
}

/*/////// menu /////////////*/
.nav__toggle {
    display: inline-block;
    position: absolute;
    z-index: 10;
    padding: 0;
    border: 0;
    background: transparent;
    outline: 0;
    right: 15px;
    top: 15px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.15s linear;
}
header .header-right-part .nav__link {
    color: white;
    display: block;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 14px;
    text-decoration: none;
    padding: 1rem;
}
.nav__link:hover, .nav__link:focus {
    background-color: rgba(0, 0, 0, 0.2);
}
.menuicon {
    display: block;
    cursor: pointer;
    color: white;
    transform: rotate(0deg);
    transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.menuicon__bar, .menuicon__circle {
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
}
.menuicon__bar {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-in-out;
}
.menuicon__circle {
    transition: stroke-dashoffset 0.3s linear 0.1s;
    stroke-dashoffset: 144.513262038;
    stroke-dasharray: 144.513262038;
}
.splash {
    position: fixed;
    top: 40px;
    right: 40px;
    width: 1px;
    height: 1px;
}
.splash::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    background-color: #191d28;
    width: 284vmax;
    height: 284vmax;
    top: -142vmax;
    left: -142vmax;
    -webkit-transform: scale(0);
    -moz-transform:    scale(0);
    -ms-transform:     scale(0);
    -o-transform:      scale(0);
    transform:         scale(0);
    transform-origin: 50% 50%;
    /*=weblit-transition: transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);*/
    /*transition: transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);*/
    /*will-change: transform;*/
    transition: 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transition: 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
}
.nav:target > .splash::after, .nav--open > .splash::after {
    -webkit-transform: scale(1);
    -moz-transform:    scale(1);
    -ms-transform:     scale(1);
    -o-transform:      scale(1);
    transform:         scale(1);
}
.nav:target .menuicon, .nav--open .menuicon {
    color: white;
    -webkit-transform: rotate(180deg);
    -moz-transform:    rotate(180deg);
    -ms-transform:     rotate(180deg);
    -o-transform:      rotate(180deg);
    transform:         rotate(180deg);
}
.nav:target .menuicon__circle, .nav--open .menuicon__circle {
    stroke-dashoffset: 0;
}
.nav:target .menuicon__bar:nth-child(1), .nav--open .menuicon__bar:nth-child(1), .nav:target .menuicon__bar:nth-child(4), .nav--open .menuicon__bar:nth-child(4) {
    opacity: 0;
}
.nav:target .menuicon__bar:nth-child(2), .nav--open .menuicon__bar:nth-child(2) {
    transform: rotate(45deg);
}
.nav:target .menuicon__bar:nth-child(3), .nav--open .menuicon__bar:nth-child(3) {
    transform: rotate(-45deg);
}
.nav__menu li{
    opacity:0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.3s cubic-bezier(0, 0.995, 0.99, 1) 0.31s;
    transition: all 0.3s cubic-bezier(0, 0.995, 0.99, 1) 0.31s;
    padding-left: 0!important;
}
.nav--open .nav__item{
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all 0.5s cubic-bezier(0, 0.995, 0.99, 1) 0.31s;
    transition: all 0.5s cubic-bezier(0, 0.995, 0.99, 1) 0.31s;
}
.nav__menu {
    position: absolute;
    z-index: -10;
    width: 100%;
    left: 0;
    right: 0;
    visibility: hidden;
}
.nav--open .nav__menu {
    z-index: 5;
    visibility: visible;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
}
/*/////// menu /////////////*/

.hidden{
    overflow: hidden;
}
.page-breadcrumb .breadcrumb{
    background-color: transparent;
    padding: 0;
    margin-bottom: 10px;
}
.page-breadcrumb .breadcrumb-item+.breadcrumb-item::before{
    content: ">";
    color: #fff;
}
.page-breadcrumb .breadcrumb li,.page-breadcrumb .breadcrumb a{
    letter-spacing: 2.16px;
    font-size: 12px;
    font-family: 'NexaLight';
    color: #fff;
    text-transform: uppercase;
}
.delivering-result h2{
    font-size: 24px;
    font-weight: 500;
    color: #dc7867;
    font-family: 'Butler_Regular_Stencil';
    margin-bottom: 0;
}
.delivering-result a{
    border-radius: 12px;
    display: inline-block;
    background-color: rgba(255,255,255,0.1);
    font-size: 12px;
    letter-spacing: 2.16px;
    color: #fff;
    font-family: 'NexaLight';
    text-transform: uppercase;
    padding: 4px 20px;
    margin-left: 20px;
}
.delivering-result a:hover{
    background-color: rgba(220,120,103,0.5);
}
.restaurants-boxes{
    border-radius: 2px;
    box-shadow: 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    background-color: #41485a;
    height: 100%;
    position: relative;
}
.restaurants-boxes .link-to-page{
   position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    font-size: 0;
}
.restaurant-box-image{
    padding-top: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.restaurant-box-info{
    padding: 15px;
    margin-bottom: 15px;
}
.restaurant-chef-info img{
    max-width: 64px;
    border-radius: 50%;
    margin-right: 15px;
}
.restaurant-chef-info{
    margin-bottom: 10px;
}
.restaurant-chef-info h3{
    font-size: 16px;
    letter-spacing: 2.88px;
    color: #dc7867;
    font-family: 'NexaBold';
    margin-bottom: 0;
}
.restaurant-chef-info p{
    letter-spacing: 2.16px;
    font-size: 12px;
    color: #fff;
    font-family: 'NexaBold';
    margin-bottom: 0;
    text-transform: uppercase;
}
.restaurant-additional-info h2{
    letter-spacing: 0.35px;
    font-size: 14px;
    color: #fff;
    font-family: geneo-std, sans-serif;
    font-weight: bold;
}
.restaurant-additional-info p{
    font-size: 14px;
    opacity: 0.7;
    color: #fff;
    font-family: geneo-std, sans-serif;
    line-height: 1.29;
    letter-spacing: 0.35px;
}
.restaurant-additional-info h4{
    letter-spacing: 0.35px;
    font-size: 14px;
    color: #fff;
    font-family: geneo-std, sans-serif;
    font-weight: bold;

}
.restaurant-additional-info h4 img{
    margin-right: 7px;
}
.menu-top-details{
    width: 100%;
    background-color: rgba(44,52,72,.8);
    padding-top: 25px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    color: #fff;
    z-index: 5;
}
.menu-top-details img{
    max-width: 64px;
    border-radius: 50%;
    margin-right: 25px;
}
.menu-top-details .breadcrumb-item{
    opacity: .7;
}
.menu-top-details .restaurant-address{
    width: 100%;
}
.view-details-btn{
    white-space: nowrap;
    background-color: rgba(255,255,255,0.1);
    border: none;
    border-radius: 50px;
    padding: 8px 19px;
    color: #fff;
    letter-spacing: 2.5px;
    font-size: 14px;
    font-family: 'NexaLight';
    position: absolute;
    right: 0;
    top: 15px;
}
.view-details-btn.close-details{
    padding: 8px 11px;
}
.hide-box{
    display: none;
}
.menu-details-chef-info h3{
    letter-spacing: 1.8px;
    font-size: 36px;
    font-family: 'Butler_Regular_Stencil';
    color: #dc7867;
}
.menu-details-chef-info p{
    letter-spacing: 2.52px;
    font-size: 14px;
    font-family: 'NexaBold';
}
.hide-box p{
    font-size: 15px;
    line-height: 1.47;
    letter-spacing: 0.38px;
    font-family: geneo-std, sans-serif;
}
.hide-box li{
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.35px;
    font-family: geneo-std, sans-serif;
}
.hide-box li b{
    margin-top: 20px;
    display: inline-block;
}
.menu-top-details .menu-toolbar{
    margin-top: 20px;
}
.menu-toolbar li a{
    letter-spacing: 2.52px;
    opacity: 0.49;
    font-size: 14px;
    font-family: 'NexaBold';
    color: #d6dce3;
    display: inline-block;
    padding: 15px 20px;
    border-bottom: 2px solid transparent;
    margin-right: 5px;
}
.menu-toolbar li a.active,.menu-toolbar li a:hover{
    color: #dc7867;
    border-bottom: 2px solid #dc7867;
    opacity: 1;
}
.menu-toolbar ul{
    margin-bottom: 0;
}
.menu-center-section{
    padding: 50px 0;
    background-color: #f8f9f9;
}
.menu-center-section .menu-left-box{
    padding-right: 50px;
    width: 100%;
}
.menu-center-section .menu-left-box .collapse-main-box:last-child{
    border-bottom: 0;
}
.order-box {
    width: 308px;
    position: sticky;
    top: 180px;
    border-radius: 20px;
    box-shadow: 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    background-color: #41485a;
    padding: 8px;
    min-height: 200px;
}
.order-box .place-order{
    display: block;
    background-color: #d6dce3;
    color: #2c3448;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.52px;
    font-family: 'NexaBold';
    border-radius: 18px;
    padding: 8px;
    vertical-align: middle;
    line-height: 19px;
    text-align: center;
}
.order-box .place-order:hover{
    background-color: #dc7867;
    color: #fff;
}
.order-box table{
    margin-bottom: 0;
}
.order-box  tr td{
    color: #fff;
    vertical-align: top;
    padding: 20px 10px;
    border-top: none;
    font-size: 14px;
    border-bottom: 1px solid #8d8d8d;
    font-family: geneo-std, sans-serif;
    line-height: 1.7;
}
.order-box  tr:last-child td{
    border-bottom: 0;
    letter-spacing: 2.88px;
    font-size: 16px;
    font-family: 'NexaBold';
}
.order-box .add-message-btn{
    display: block;
    background-color: rgba(214,220,227,0.1);
    color: #d6dce3;
    text-align: center;
    letter-spacing: 2.52px;
    font-size: 14px;
    font-family: 'NexaBold';
    border-radius: 18px;
    padding: 8px;
    line-height: 19px;
    vertical-align: middle;
}
.product-qty-item button{
  font-size: 10px;
    background-color: rgba(214,220,227,.1);
    border: none;
    border-radius: 50%;
    padding: 3px 6px;
    color: #fff;
    text-align: center;
}
.product-qty-item input{
    padding: 0;
    height: inherit;
    text-align: center;
    background-color: transparent;
    border: none;
    color: #fff;
    max-width: 150px;
}
.product-qty-item input:focus{
    background: transparent;
    outline: none;
    color: #fff;
    box-shadow: none;
}
.collapse-head{
    padding: 20px 0;
    cursor: pointer;
}
.collapse-main-box{
    border-bottom: 1px solid rgba(44,52,72,.3);
    margin-bottom: 15px;
}
.collapse-main-box .collapse-body {
  padding-bottom: 15px;
}
.collapse-body .product-name{
    margin-bottom: 0;
    letter-spacing: 2.7px;
    font-size: 15px;
    font-family: 'NexaBold';
    text-transform: uppercase;
    color: #2c3448;
    cursor: pointer;
}
.collapse-body .product-name:hover{
    text-decoration: underline;
}
.collapse-body .price-add-btn {
    border-radius: 18px;
    min-width: 96px;
    height: 36px;
    border: 1px solid #2c3448;
    padding: 3px;
    background-color: transparent;
    letter-spacing: 2.5px;
    font-size: 14px;
    font-family: 'NexaBold';
    position: relative;
}
.collapse-body .price-add-btn:hover{
    border-color: #509e5d;
}
.collapse-body .price-add-btn:after{
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
    left: 0;
}
.price-add-btn.btn-hover:after{
    content: "ADD";
    position: absolute;
    width: calc(100% + 1px);
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    background-color:#509e5d;
    border-radius: 18px;
    color: #fff;
    line-height: 36px;
    webkit-transition:  0.4s ease;
    -moz-transition:  0.4s ease;
    -ms-transition:  0.4s ease;
    -o-transition:  0.4s ease;
    transition:  0.4s ease;
}
.menu-row{
    padding: 15px 0;
}
.collapse-head h2{
    letter-spacing: 3.6px;
    color: #dc7867;
    font-family: 'NexaBold';
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 0;
}
.collapse-head  i{
    color: #dc7867;
}
.fixed-toolbar{
    position: fixed;
    left: 0;
    right: 0;
    top: 100px;
    padding-top: 10px;
    background-color: rgba(44,52,72,1);
    animation: smoothScroll 1s forwards;
    -webkit-animation: smoothScroll 1s forwards;
}
.fixed-toolbar .hide-on-sticky{
   display: none;
}
.fixed-toolbar  .menu-toolbar{
    margin-top: 0!important;
}
#add-dish-modal .modal-dialog{
    max-width: 685px;
}
#add-dish-modal .modal-footer{
    background-color: #d6dce3;
    padding: 14px 24px;
}
#add-dish-modal .product-name{
    font-size: 15px;
    letter-spacing: 2.7px;
    font-family: 'NexaBold';
    color: #2c3448;
    text-transform: uppercase;
}
.modal-footer .cancel-order-btn{
    border-radius: 18px;
    background-color: rgba(42,52,72,.1);
    font-size: 14px;
    letter-spacing: 2.5px;
    font-family: 'NexaBold';
    color: #2c3448;
}
#add-dish-modal .modal-body{
   padding: 33px 0;
}
#add-dish-modal .product-price{
    border-radius: 18px;
    min-width: 96px;
    padding: 7px 3px;
    border: 1px solid #2c3448;
    background-color: #fff;
    letter-spacing: 2.5px;
    font-size: 14px;
    font-family: 'NexaBold';
    position: relative;
    display: inline-block;
    text-align: center;
    margin-left: 16px;
}
#add-dish-modal .product-price:after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
    left: 0;
}
#add-dish-modal .product-price.btn-hover:after{
    content: "ADD";
    position: absolute;
    width: calc(100% + 1px);
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    background-color: #509e5d;
    border-radius: 18px;
    color: #fff;
    line-height: 36px;
    webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -ms-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    transition: 0.4s ease;
}
#add-dish-modal .product-description{
    font-family: geneo-std, sans-serif;
}
#add-dish-modal .recommendation-row .product-name{
    margin-bottom: 0;
}
.recommendation-row {
    padding: 10px 0;
}
#add-dish-modal .input-group button{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #2c3448;
    border: 1px solid #2c3448;
    background-color: #fff;
    padding: 0;
    text-align: center;
    font-size: 11px;
}
.modal-recommendation-block .block-tile{
    letter-spacing: 4px;
    font-size: 20px;
    font-family: 'NexaBold';
    color: #dc7867;
    text-transform: uppercase;
}
#add-dish-modal .input-group input{
    color: #2c3448;
    border-color: #fff;
    margin: 0 2px;
    text-align: center;
    max-width: 50px;
}

.modal-product-row{
    padding: 0 24px 25px 24px;
    border-bottom: 1px solid rgba(44,52,72,.3);
    margin-bottom: 25px;
}
.modal-recommendation-block{
    padding: 0 24px;
}
.product-description p{
    font-family: geneo-std, sans-serif;
    line-height: 1.47;
    letter-spacing: 0.38px;
    margin-bottom: 0;
}
.product-description h3{
    font-weight: bold;
    color: rgb(230, 94, 88);
    font-size: 15px;
    line-height: 1.47;
    letter-spacing: 0.38px;
    margin: 0;
}
.modal-footer .add-order-btn{
    border-radius: 18px;
    background-color: rgb(80, 158, 93);
    font-size: 14px;
    letter-spacing: 2.5px;
    font-family: 'NexaBold';
    color: #fff;
}
.order-hide-desk{
    display: none;
}
.mobile-fixed-order-box{
    background-color: #41485a;
    padding: 10px;
    border-radius: 20px 20px 0 0;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 11;
}
.mobile-fixed-order-box .mobile-order-price{
    font-size: 16px;
    letter-spacing: 2.88px;
    color: #ffffff;
    font-family: 'NexaBold';
}
.mobile-fixed-order-box button{
    white-space: nowrap;
    background-color: rgba(255,255,255,0.1);
    border: none;
    border-radius: 50px;
    padding: 8px 19px;
    color: #d6dce3;
    letter-spacing: 2.5px;
    font-size: 14px;
    text-transform: uppercase;
}
.close-order-box{
    position: absolute;
    left: 0;
    background-color: rgba(255,255,255,0.1);
    color: #fff;
    width: 35px;
    height: 35px;
    text-align: center;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    top: 1px;
}
.order-box-head{
    margin-top: 5px;
    padding-bottom: 15px;
}
.scrollable-box{
    max-height: 400px;
    overflow-y: auto;
}
.scrollable-box::-webkit-scrollbar {
    width: 6px;
}

.scrollable-box::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.scrollable-box::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}